body {
scroll-behavior: smooth;
background-color: #ccd8e4;
color: #112a46;
}

.navbar-nav .nav-item .nav-link {
font-size: 2rem;
color: #112a46;
}

.navbar {
font-family: "Roboto", sans-serif;
}

.nav-link {
color: #ccd8e4;
display: block;
font-weight: 900;
}

.nav-link:hover {
text-decoration: underline;
}


ul {
list-style: none;
}

img {
max-width: 100%;
display: block;
block-size: auto;
}

#home img {
border radius: 0.63em;
}

#profile-image {
box-shadow: 0.19em 0.19em 0.19em 0.19em rgba(0, 0, 0, 0.3);
}

/* Styling for the About Me text column to prevent it from stretching too wide on large screens. */

.about-me-text {
    /* Limit the overall width of the content column */
    max-width: 62.5em; /* Approximately 1000px if base font size is 16px */
    margin: 0 auto; /* Center the content within its container if it is less than 100% width */
}


.resume-text {
max-width: 62.5em;
}

h1, h2, h3, button   {
font-family: "Roboto", sans-serif;
}

p, input, label, textarea {
font-family: "Nunito", sans-serif;
}

#connect-me-button:hover {
box-shadow: 0.19em 0.19em 0.19em 0.19em rgba(0, 0, 0, 0.3);
}

.ionicons {
height: 2.19em;
width: 2.19em;
margin-bottom: 0.75em;
}

label {
font-size: 1.25rem;
display: block;
}

/*
input {
max-width: 25em;
}

textarea {
max-width: 50em;
}

form {
margin-top: 0.5em;
}
*/

input:focus-within {
font-weight: bold;
}

input:focus-visible, textarea:focus-visible {
outline: 0.19em solid #000000;
}

 
/* 
font-family: "Roboto", sans-serif;
font-family: "Nunito", sans-serif;
Title font: Roboto
Paragraph font: Nunito
*/